body {
	margin: 0;
	background: #242423;
}

.box {
	height: 30px;
	width: 30px;
    animation: move 2s ease-in-out 1s 
}

.box-red {
	background: #ff4d4d;
    margin: 0;
}

.box-blue {
	background: #738cff;
    margin: 0;
}

.box-green {
	background: #46ff36;
    margin: 0;
}

.box-orange {
	background: #ffaf24;
    margin: 0;
}

/* Keyframes for the move animation */
@keyframes move {

    to {
        /* Transform the box with the following properties: */
        transform: 
            translate(50vw, 50vh) /* Move the box to 50% of the viewport width and height */
            scaleX(10) /* Scale the box horizontally by a factor of 10 */
            skew(60deg); /* Skew the box at a 60-degree angle */
    }
}
