.box {
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    position: fixed;
    width: 50px;
    height: 50px;
    background: red;
    border: 1px solid black;
    animation-name: transform;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* Keyframes for the transform animation */
@keyframes transform {
    /* Define the animation at its completion (100%) */
    100% {
        transform: 
            scale(0.5, 0.5) /* Scale the element down to 50% of its original size */
            rotate(45deg) /* Rotate the element 45 degrees clockwise */
            translate(50px, 0px); /* Move the element horizontally by 50 pixels */
    }
}
