/* Reset the margin and padding for the body element */
body {
    margin: 0;
    padding: 0;
}

/* Styles for a navigation menu */
.menu {
    margin: 0;
    width: 100%;
    padding: 5px;
    background: #bdceff; /* Background color for the menu */
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    border-bottom: 3px solid #005aad; /* Border at the bottom of the menu */
    flex-wrap: wrap; /* Allow items to wrap onto the next line if necessary */
}

/* Styles for navigation links in the menu */
.menu-link {
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 800;
    font-family: Roboto, sans-serif;
    color: black; /* Default color of menu links */
    transition: all 1s ease-out; /* Smooth transition effect for all properties over 1 second */
}

/* Styles for individual menu items */
.menu-item {
    height: 3em;
    align-self: center;
    margin: 5px;
}

/* Styles for a title wrapper section */
.title-wrapper {
    margin: 0;
    background: #bdceff; /* Background color for the title wrapper */
    border-bottom: 3px solid #005aad; /* Border at the bottom of the title wrapper */
    padding: 10px;
}

/* Styles for a title element */
.title {
    margin: 0;
    width: 100%;
    font-weight: 800;
    font-family: Roboto, sans-serif;
    color: black; /* Default color of the title */
    text-transform: uppercase;
    font-size: 4em;
    text-align: center;
    transition: color 1s ease-out; /* Smooth transition effect for color over 1 second */
}

/* Styles for an image element */
.image {
    width: 100%;
}

/* Hover effect for the title */
.title:hover {
    color: #1f93ff; /* Change color on hover */
}

/* Hover effect for the menu links */
.menu-link:hover {
    color: #1f93ff; /* Change color on hover */
    font-size: 2.5em; /* Increase font size on hover */
}
